.formCreateTask {
  display: flex;
  justify-content: center;
  gap: .5rem;

  margin: calc(0px - 3.375rem / 2) 1rem 4rem;
}

.formCreateTask input {
  padding: 1rem;
  width: min(39.875rem, 100%);
  background: var(--gray-500);

  border: 1px solid var(--gray-700);
  border-radius: 8px;

  line-height: 1rem;
  color: var(--gray-100);
}

.formCreateTask input::placeholder{
  color: var(--gray-300);
}

.formCreateTask button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;

  padding: 1rem;
  background: var(--blue-dark);
  border: none;
  border-radius: 8px;

  font-size: .875rem;
  color: var(--gray-100);
  font-weight: 700;

  cursor: pointer;
  transition: background .2s;
}

.formCreateTask button:hover {
  background: var(--blue);
}

.formCreateTask button svg {
  color: var(--gray-100);
}

@media (max-width: 375px) {
  .formCreateTask {
    flex-direction: column;
    margin-bottom: 2rem;
  }
}