.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  padding: 1.25rem 0;
  background: var(--gray-800);
}

.header img {
  width: 3.5rem;
}

.header strong {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 160%;
  color: var(--gray-100);
}

@media (max-width: 375px) {
  .header {
    padding: 1rem 0;
  }

  .header img {
    width: 3rem;
  }

  .header strong {
    font-size: 1.4rem;
  }
}